extends layout

block header
  h1= title
  p Bienvenue
block main
  img(src="/images/splash.jpg" alt="newspaper image")
  p Photo de
    a(href="https://unsplash.com/fr/@anniespratt?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText") Annie Spratt sur
    a(href="https://unsplash.com/fr/photos/une-pile-de-journaux-posee-sur-une-table-en-bois-hWJsOnaWTqs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText") Unsplash
      